@import './reset.css';

body {
    background-color: #f9f9f9;

}
.right {
    float: right;
}
h1 {
    display: inline-block;
    text-align: center;
    line-height: 60px;
    background-color: #eeeeee;
    box-shadow: 0 2px 4px #0008;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

h1 + * {
    margin-top: 60px;
}

.list {
    display: grid;
    min-height: calc(100vh - 60px);
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    padding: 30px;
    gap: 30px;
    place-content: start;

}
    .list > .item {
        display: inline-block;
        padding: 20px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        position: relative;
        
    }
        .list > .item > .actions {
            display: none;
            position: absolute;
            top: -5px;
            right: 5px;
            
        }
            .list > .item:hover > .actions {
                display: inline-block;
            }
    .add-new {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-color: blue;
        color: white;
        border-radius: 50%;
        box-shadow: 0 4px 8px #0008;
        line-height: 54px;
        font-size: 40px;
        text-align: center;
        cursor: pointer;
        position: fixed;
        bottom: 30px;
        right: 30px;
        opacity: 0.9;
    }
    .add-new:hover {
        opacity: 1;
    }
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
    .lightbox.show {
        display: block;
    }
    .lightbox > .background {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #0001;
    }
    .lightbox > .content {
        display: inline-block;
        min-width: 280px;
        width: 50%;
        max-width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .btn {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 4px;
        background-color: blueviolet;
        color: white;
        line-height: 20px;
        font-size: 18px;
        border: none;
        cursor: pointer;
        opacity: 0.9;
    }
        .btn:hover {
            opacity: 1;
        }
        .btn.cancel {
                background-color: #ccc;
                color: black;
        }
        .btn.add {
            background-color: lime;
            color: white;
        }
        .btn.edit {
            background-color: blueviolet;
            color: white;
        }
        .btn.remove {
            background-color: #ff3333;
            color: white;
        }
        .btn.small {
            padding: 5px 10px;
            line-height: 14px;
            font-size: 14px;
            border-radius: 2px;
        }

form {
    display: inline-block;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px #0003;
}
    form > .title {
        display: inline-block;
        width: 100%;
    }
    form > textarea {
        display: inline-block;
        width: 100%;
        font-size: 17px;
        line-height: 23px;
        padding: 10px;
        min-height: 89px;
        max-height: 204px;
        resize: vertical;
        border: 1px solid #777;
    }
    form > * {
        float: left;
    }
    form > * + * {
        margin-top: 20px;
    }